<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Riotjs", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

    <script data-src="/riot/body_tag.js" type="riot"></script>
    <script type="module">
      <%= for tag <- [:body, :page1, :page2] do %>
        <% tag_str = Atom.to_string tag %>
        import <%= tag_str %>Tag from '/riot/<%= tag %>_tag.js'
        riot.register('<%= tag %>_tag', <%= tag_str %>Tag)
      <% end %>
      riot.mount('body_tag')
    </script>

  </head>
  <body>
    data-path: <%= @data_path %><br>
    <%= @inner_content %><br>
  </body>
</html>
