<error_tag>
  <h1>Error</h1>
  <h2>{context.data.pages.error.message}</h2>

  <script>
    export default {
      onBeforeMount(props) { this.context = props.context },
    }
  </script>
</error_tag>
