<page2_tag>
  page 2 visible
  <h1>{state.data.pages.page2.title}</h1>

  <script>
    export default {
      onBeforeMount(props) {
      	this.state = props.state
      },
    }
  </script>
</page2_tag>
